<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="~/" class="brand-link">
        <img src="/Content/assets/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <small class="brand-text font-weight-light">@WLVSTemplateDotNet.Core.Models.Common.Constant.LayoutAnonymous.DefaultCardHeaderTitle</small>
    </a>
    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                with font-awesome or any other icon font library -->
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <div class="user-panel pb-3 d-flex" style="border-bottom: none;">
                            <div class="image">
                                <img src="/Content/assets/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
                            </div>
                            <div class="info">
                                Alexander Pierce
                                <i class="right fas fa-angle-left"></i>
                            </div>
                        </div>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="far fa-sign-out nav-icon"></i>
                                <p>Logout</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-toolbox"></i>
                        <p>
                            Developer Toolbox
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Dashboard v1</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Dashboard v2</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Dashboard v3</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-header">My Work Tools</li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="far fa-building nav-icon"></i>
                        <p>
                            BlastAsia, Inc.
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="~/BlastAsia/TimeIn" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Time-In</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="~/BlastAsia/TimeOut" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Time-Out</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="~/BlastAsia/EndOfDay" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>End of Day</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="far fa-building nav-icon"></i>
                        <p>AIFS</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fas fa-chart-line nav-icon"></i>
                        <p>DW &amp; DA</p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>